<div class="container">
  <div class="header">
    <h1 class="header__title">{{ payload?.Title }}</h1>
    <button mat-raised-button class="header__btn" routerLink="">Back</button>
  </div>

  <div class="header-secondary">
    <h2 class="header-secondary__title">{{ payload?.Released }} - {{ payload?.Genre }}</h2>
    <h2 class="header-secondary__awards">{{ payload?.Awards }}</h2>
  </div>

  <div class="movie-content">
    <img
      class="movie-content__poster"
      src="{{ payload?.Poster }}"
      alt="Movie poster"
    />

    <div class="movie-content__info">
      <p class="movie-content__info--paragraph">
        <span class="title">Plot: </span> {{ payload?.Plot }}
      </p>
      <p class="movie-content__info--paragraph">
        <span class="title">Actors: </span> {{ payload?.Actors }}
      </p>
      <p class="movie-content__info--paragraph">
        <span class="title">Director: </span> {{ payload?.Director }}
      </p>
      <p class="movie-content__info--paragraph">
        <span class="title">Writer: </span> {{ payload?.Writer }}
      </p>
    </div>

    <!-- <div class="movie-content__ratings">
      <h2 class="ratings__header">Ratings</h2>
      <h3 class="ratings__source">Source 1</h3>
      <div class="ratings__stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </div>

      <h3 class="ratings__source">Source 2</h3>
      <div class="ratings__stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div> -->

    <button mat-raised-button class="header__btn--mobile" routerLink="">Back</button>
  </div>
</div>
