<div class="container">
  <div class="header">
    <h1 class="header__title">{{ payload?.Title }}</h1>
    <button mat-raised-button class="header__btn" routerLink="">Back</button>
  </div>

  <div class="header-secondary">
    <h2 class="header-secondary__title">{{ payload?.Released }} - {{ payload?.Genre }}</h2>
    <h2 class="header-secondary__awards">{{ payload?.Awards }}</h2>
  </div>

  <div class="movie-content">
    <img
      class="movie-content__poster"
      src="{{ payload?.Poster }}"
      alt="Movie poster"
    />

    <div class="movie-content__info">
      <p class="movie-content__info--paragraph">
        <span class="title">Plot: </span> {{ payload?.Plot }}
      </p>
      <p class="movie-content__info--paragraph">
        <span class="title">Actors: </span> {{ payload?.Actors }}
      </p>
      <p class="movie-content__info--paragraph">
        <span class="title">Director: </span> {{ payload?.Director }}
      </p>
      <p class="movie-content__info--paragraph">
        <span class="title">Writer: </span> {{ payload?.Writer }}
      </p>

      <h2 class="ratings__header">Ratings</h2>
      <div class="movie-content__ratings">
        <div class="ratings__stars">
          <h3 class="ratings__source">{{ payload?.Ratings[1]?.Source }}</h3>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>

        <div class="ratings__stars">
          <h3 class="ratings__source">{{ payload?.Ratings[2]?.Source }}</h3>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
      </div>

    </div>    

    <button mat-raised-button class="header__btn--mobile" routerLink="">Back</button>
  </div>
</div>
