$coral: #FE5131;
$purple: #9f77ff;
$yellow: #FFF456;

$bp-medium: 56.25em; // 900px
$bp-medium-2: 46.87em; // 750px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

.home {
    position: relative;
    height: 100vh;

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        text-align: center;

        @media only screen and (max-width: $bp-medium) {
            left: 52%;
        }
    }

    .heading-primary {
        display: block;
        margin-bottom: 2rem;
        color: $coral;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 0.5rem;
        
        animation: moveInLeft 1s ease-out;

        @media only screen and (max-width: $bp-medium-2) {
            font-size: 5.5rem;
            letter-spacing: 0;
        }
    }

    .search-form {
        animation: moveInRight 1s ease-out;

        &__input {
            margin-right: 2rem;
            padding: 1rem;
            width: 36rem;
            font-family: inherit;
            border: solid 2px $purple;
            border-radius: 100px;
            outline: none;

            @media only screen and (max-width: $bp-medium-2) {
                font-size: 2rem;
                margin-bottom: 2rem;
            }
        }

        &__btn {
            font-family: inherit;
            font-size: 1.6rem;
            background-color: $purple;
            text-transform: uppercase;
            color: $yellow;
            letter-spacing: .1rem;
            font-weight: 600;

            @media only screen and (max-width: $bp-medium) {
                font-size: 1.8rem;
                height: 5rem;
                width: 12rem;
            }
        }
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    
    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    
    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}